v_1/./.idea/
v_1/__pycache__/
v_1/settings.py
v_1/mydatabase.db
.idea/
v_2/JSON_data/
v_2/__pycache__/
v_2/log/
v_2/helpers/__pycache__/
v_2/configs.py
v_2/sqlite_tg_bot_db.db
v_2/helpers/sql_alchemy/__pycache__/
v_2/helpers/__pycache__/
v_2/helpers/template_creators/__pycache__/
v2_/helpers/message_handlers/__pycache__/
v_2/helpers/markup_creators/__pycache__/
