src_v1/./.idea/
src_v1/__pycache__/
src_v1/settings.py
src_v1/mydatabase.db
.idea/
src_v2/JSON_data/
src_v2/__pycache__/
src_v2/log/
src_v2/helpers/__pycache__/
src_v2/configs.py
src_v2/sqlite_tg_bot_db.db
src_v2/helpers/sql_alchemy/__pycache__/
src_v2/helpers/__pycache__/
src_v2/helpers/template_creators/__pycache__/
v2_/helpers/message_handlers/__pycache__/
src_v2/helpers/markup_creators/__pycache__/
src_v2/helpers/message_handlers/__pycache__/
src_v2/users_photos
